.custom-field {
  @apply flex flex-col relative;

  .label {
    @apply absolute left-4 top-1 text-gray-400 text-sm;

    .required {
      color: var(--draft-danger)
    }

    &.active {
    }
  }

  .field {
    @apply pt-5 pb-2 px-4 w-full border rounded;

    &:focus {
      @apply outline-none;
      box-shadow: 0 0 3px 2px #eeeeee;

      &.error {
        box-shadow: 0 0 3px 2px rgb(248, 113, 113);
      }
    }

    &.error {
      @apply border-red-400;
    }
  }

  // custom style for select
  &.select {
    .field {
      @apply pl-3;
    }
  }

  .bottom-text {
    @apply text-gray-400 text-sm;

    .error-text {
      color: var(--draft-danger);
    }
  }
}