.custom-field {
  @apply flex flex-col relative w-full;

  .label {
    @apply absolute z-10 left-4 top-1 text-gray-400 text-sm;

    .required {
      color: var(--error);
    }

    &.active {
    }
  }

  .field {
    @apply pt-5 pb-2 px-4 w-full rounded min-w-full;

    background-color: var(--btn-bg-primary);
    border: 1px solid var(--border);

    &:focus {
      @apply outline-none;
      box-shadow: 0 0 3px 2px var(--shadow-field);

      &.error {
        box-shadow: 0 0 3px 2px rgb(248, 113, 113);
      }
    }

    &.error {
      @apply border-red-400;
    }
  }

  // custom styles for task input
  .input {
    @apply relative;

    .field {
      @apply pr-6;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .field:focus + .task-actions {
      .task-actions {
        &__triangle {
          box-shadow: 2px -4px 3px -2px var(--shadow-field);
        }

        &__square {
          box-shadow: 0px -4px 3px -3px var(--shadow-field);
        }

        &__wrap {
          box-shadow: 5px -5px 3px -3px var(--shadow-field);
        }
      }
    }

    .task-delete {
      @apply absolute right-2 top-2;
    }
  }

  // custom style for select
  &.select {
    .field {
      @apply pl-3 h-full;
    }
  }

  .bottom-text {
    @apply text-gray-400 text-sm;

    .error-text {
      color: var(--error);
    }
  }
}

select {
  @apply cursor-pointer;
  background-color: var(--btn-bg-primary);
  border: 1px solid var(--border);

  &:focus {
    @apply outline-none;
    box-shadow: 0 0 3px 2px var(--shadow-field);

    &.error {
      box-shadow: 0 0 3px 2px rgb(248, 113, 113);
    }
  }
}

// auth forms

.auth {
  @apply grid items-center justify-items-center p-2;
  min-height: 100vh;

  .form {
    @apply grid gap-5 max-w-lg w-full py-5 px-2 md:p-5;
    background: var(--bg-second-layer);
    box-shadow: 0px 0px 20px -10px var(--shadow);

    .actions {
      @apply flex gap-4 justify-end items-center;

      a {
        @apply underline;
      }
    }
  }
}

select {
  @apply border rounded;
}
