* {
  // v1
  // --bg-draft: #f8f8f8;
  // --bg-draft-second: #e4e4e4;
  // --bg-modal: #00000066;
  // --bg-draft-field: #fff;
  // --draft-danger: #dd1313;
  // --text-white: #f0f0f0;
  // --draft-btn: #ffffff;
  // --draft-btn-hover: #f1f1f1;
  // --transition: all 0.3s linear;

  --transition: all 0.3s linear;

  .light-theme {
    // V2
    --bg-first-layer: #f0f0f0;
    --bg-second-layer: #fbfbfb;

    --border: #eaeaea;
    --shadow: #606060;
    --shadow-field: #dcdcdc;

    --bg-modal: #00000066;
    --bg-modal-content: #fbfbfb;

    --error: #dd1313;
    --success: #00cc00;
    --neutral: #2596be;

    --text-main: #0e0e0e;
    --text-white: #f0f0f0;

    --btn-bg-primary: #ffffff;
    --btn-bg-primary-hover: #f1f1f1;
    --btn-bg-hover: #e4e4e4;
    --btn-bg-active: #bcbcbc;

    --green: #00cc00;
    --yellow: #ffd300;
    --red: #ff4040;
  }

  // ===============

  .dark-theme {
    --bg-first-layer: #121212;
    --bg-second-layer: #1e1e1e;

    --border: #363636;
    --shadow: #000;
    --shadow-field: #151515;

    --bg-modal: #00000066;
    --bg-modal-content: #1e1e1e;

    --error: #dd1313;
    --success: #00cc00;
    --neutral: #2596be;

    --text-main: #e1e1e1;
    --text-white: #f0f0f0;

    --btn-bg-primary: #2e2e2e;
    --btn-bg-primary-hover: #363636;
    --btn-bg-hover: #363636;
    --btn-bg-active: #363636;

    --green: #00ad00;
    --yellow: #c3a200;
    --red: #df2020;
  }
}
