* {
  --bg-draft: #f8f8f8;
  --bg-draft-second: #e4e4e4;
  --bg-draft-modal: #00000066;
  --bg-draft-field: #fff;

  --draft-danger: #dd1313;
  --draft-text-white: #f0f0f0;

  --draft-btn: #ffffff;
  --draft-btn-hover: #f1f1f1;

  --transition: all 0.3s linear;
  .light-theme {
  }

  .dark-theme {
  }
}
